@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

/**
 * Hias Header
 */
.section1 {
    min-height: 100vh;
}

#kontenHeader {
    min-height: 80vh;
}

#bacaanAwal {
    margin: 10px;
}

.hello {
    color: white;
    text-align: left;
}

h1 {
    font-family: 'Mukta', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
}

#kataPembuka {
    font-family: Mukta;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    width: 80%;
    color: #F5F5F5;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

#btn {
    margin-top: 20%;
    border-radius: 9px;
    background-color: white;
}

#btnPelajari {
    font-family: Mukta;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.25px;
    text-align: center;
    margin-top: 18%;
    width: 130px;
}

#btnGetStarted {
    font-family: Mukta;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.25px;
    text-align: center;
    width: 87px;
    height: 42px;
    padding: 12px 24px;
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.1);
}

#imageAwal {
    width: 528px;
}

/**
 * Hias All Section
 */
.JdlSection {
    font-family: Mukta;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    color: #3ECCAA;
}

.penjSection {
    font-family: Mukta;
    font-size: 34px;
    font-style: normal;
    font-weight: 5000;
    line-height: 40px;
    letter-spacing: 0.25px;
    text-align: center;
    margin-top: 1%;
}


/** 
 * Hias Section Benefit
 */
.ItemBenefit {
    text-align: left;
    border-radius: 4px;
    border: 1px solid #CACCCF;
    width: 272px;
    max-height: fit-content;
    min-height: 195px;
    padding: 14px;
    margin: 2%;
}

.jdlBenefit {
    padding-top: 7px;
    font-family: Mukta;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: black;
}

.isiBenefit {
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 18px;
    font-family: Mukta;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #52575C;
}


/** 
 * Hias Section Fitur
 */
.ItemFungsi {
    padding: 3%;
    width: 270px;
    min-height: 240px;
    max-height: fit-content;
}

.jdlFungsi {
    font-family: Mukta;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: 8%;
    margin-bottom: 8%;
    line-height: 28px;
    letter-spacing: 0.15000000596046448px;
}

.isiFungsi {
    font-family: Mukta;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #52575C;
}

#learnmore {
    cursor: pointer;
}


/** 
 * Hias Section Testimoni
 */
#slideKomen {
    margin-top: -20px;
    width: 795px;
}


/** 
 * Hias Section FAQ
 */
.faq {
    margin-top: 56px;
}

.itemfaq {
    padding-left: 1%;
    padding-right: 1%;
    
}

#secfaq {
    color: #3ECCAA;
    font-family: Mukta;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.15px;
}

.textfaq {
    margin-top: 8px;
    margin-bottom: 4%;
    color: #52575C;
    font-family: Mukta;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.card {
    margin-top: 5%;
    max-height: fit-content;
    min-height: 124px;
    text-align: left;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #CACCCF;
    padding-bottom: 5px;
}

.icon1 {
    margin-top: 16px;
    margin-left: 20px;
}

.nofaq {
    width: 70%;
    margin-top: -33px;
    font-family: Mukta;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 72px;
}

#tfaq {
    width: 70%;
    margin-top: 12px;
    margin-left: 72px;
    font-family: Mukta;
    font-size: 16px;
    color: #52575C;
    
}

/** 
 * Hias Section Tunggu
 */
.sectunggu {
    margin-top: 6%;
    background-color: #3ECCAA;
}

#headtng {
    margin-top: 56px;
    font-family: Mukta;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
}

#txttunggu {
    margin-top: 24px;
    color: #000000;
    font-family: Mukta;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

#btndownload {
    margin-top: 20px;
    margin-bottom: 5%;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow:  4px 4px 4px rgba(255, 255, 255, 0.1);
    width: 182px;
    background-color: white;
    
}

/** 
 * Hias Footer
 */
.footer {
    background-color: #1E715D;
    text-align: left;
}

#imgfooter{
    margin-top: 60px;
    padding-bottom: 30px;
}

.secinfo {
    a {
        color: white;
        font-family: Mukta;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

#linkwa{
    margin-top: 10px;
    margin-bottom: 10px;
}



#secperu {
    text-align: left;
}


.jdl {
    color: white;
    font-family: Mukta;
    font-size: 24px;

}

.f-content {
    color: #E0E0E0;
    font-family: Mukta;
    font-size: 16px;
    font-style: normal;
    opacity: 0.5;
    
}

.f-content:hover {
    color: #ffffff;
    font-family: Mukta;
    font-size: 16px;
    opacity: 1;
}

#secisl {
    text-align: left;
}

.jdl1 {
    color: white;
    font-family: Mukta;
    font-size: 24px;
}


#sectersedia {
    text-align: left;
}

.jdl2 {
    color: white;
    font-family: Mukta;
    font-size: 24px;

}

.akhiran {
    text-align: center;
    padding-bottom: 2.8%;
}

.linefooter{
    margin-left: 12%;
    border: 1px solid #ffffff;
    opacity: 0.5;
}

.txtfooter {
    font-size: 16px;
    font-family: Mukta;
    font-weight: 600;
    margin-top: -3%;
    color: #B8B8B8;
    opacity: 0.5;
}


/** 
 * Hias Other
 */
.illustrasi-wrapper {
    padding-left: 10%;
    height: 100%;
}

.d-none {
    display: none !important;
}

.illustrasi-wrapper>img {
    width: 100%;
}

.vue-scroll-up {
    z-index: 9999;
    height: 60px;
    width: 60px;
    position: fixed;
    background-image: url("../images/arrowup.svg");
    background-size: cover;
    background-color: transparent;
    border: 0;
    bottom: 4%;
    right: 6%;
    cursor: pointer;
}

.mb {
    margin-bottom: 10%;
}

.mt {
    margin-top: 6%;
}

.min-mt {
    margin-top: -55px;
}

hr {
    margin: 7%;
    margin-bottom: 5%;
    margin-top: 5%;
    border: 1px solid #CACCCF;
}

.my-5 {
    margin-top: 2rem !important;
}

.my-5 {
    margin-bottom: 2rem !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}